{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58",
          "node": "8",
          "esmodules": true
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "ignore": [
    "**/*.d.ts"
  ],
  "sourceMaps": "inline",
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
