name: Pull request validation

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm clean-install

      - run: npm run prepublishOnly

      - run: npm pack

      - name: Upload tarball artifact
        uses: actions/upload-artifact@v6
        with:
          name: bundle-${{ matrix.node-version }}
          path: ./dist

      - name: Upload tarball artifact
        uses: actions/upload-artifact@v6
        with:
          name: tarball-${{ matrix.node-version }}
          path: ./*.tgz

      - run: npm test
